* {
    box-sizing: border-box;
}

body {
    background-color: rgba(248, 248, 248, 0.7);
    font-family: 'Jost', sans-serif;
    margin: 0;
}

/*------ BARRA LATERAL ------*/

.barralateral {
    position: fixed;
    width: 220px;
    top: 0px;
    left: 0px;
    bottom: 0;
    background-color: rgb(38, 75, 157);
}

#imagemlyncas {
    width: 120px;
    margin-top: 90px;
    margin-left: 50px;
}

.barralateral-botoes {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    padding: 0 44px;
}

.routerLink_barralateral {
    display: flex;
    flex-direction: column;
}

.barralateral-botoes button {
    margin-top: 16px;
    text-align: start;
}

button {
    background-color: rgb(38, 75, 157);
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 8px;
    border: 1px solid #1E3F8B;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(18, 55, 137);
}

/*------ MAIN ------*/

#principal {
    margin-left: 220px;
    padding: 25px;
}

.principal-saudacao {
    font-weight: 700;
}

#texto_sair_usuario {
    font-weight: 500;
    font-size: 15px;
    color: #757F98;
}

#usuario {
    width: 100%;
    left: 240px;
    padding: 40px 0px 25px 0px;
    color: #26334B;
    line-height: 25px;
    border-bottom: 2px solid rgba(222, 227, 232, 0.877);
    display: flex;
    justify-content: space-between;
}

#imagemusuario {
    float: left;
    width: 50px;
    margin-right: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.principal-caixa_botaovoltar {
    display: inline-block;
    float: right;
}

.cadastrarcliente_botao,
.principal-botaovoltar {
    background-color: #BFBFBF;
    border: 1px solid white;
    width: 150px;
    height: 52px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/*------ TITULO E BUSCA --------*/

#caixa_titulo_pagina {
    width: 100%;
    padding: 40px 0px 0px 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#campo_busca {
    width: 400px;
}

input {
    color: #696969;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
}

input.busca {
    width: 100%;
    height: 40px;
    border: 1px solid #EDF2F5;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 12px;
}

input.busca::placeholder {
    color: #C6C6C6;
    font-weight: bolder;
}

input#datafaturamento {
    color: #C6C6C6;
    font-weight: bolder;
    font-family: 'Jost';
    font-weight: 400;
    text-transform: uppercase;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.cadastrarcliente_botao {
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.fa-solid,
.fa-brands {
    margin-right: 10px;
    margin-left: 4px;
}

/*------ TABELA ------*/

table {
    width: 100%;
    margin-top: 25px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

table#tabela {
    border-collapse: separate;
    border-spacing: 0 20px;
}

#tabela th{
    padding-left: 1%;
    font-family: "Jost";
    font-style: normal;
    color: gray;
    text-align: left;
    font-weight: 400;
}

#tabela td {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    color: #26334B;
    background: white;
    height: 60px;
}

.primeiracolunatabela {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ultimacolunatabela {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th,
td {
    width: 150px;
    text-align: left;
    padding-left: 20px;
}

.buttondeletar {
    background-color: #FDF6F6;
    color: #CB8889;
    border: 1px solid #F9F1F1;
    border-radius: 5px;
}

.buttondeletar:hover {
    background-color: #FF6060;
    color: red;
}

.buttoneditar {
    background-color: #F6FAFD;
    color: #6792CB;
    border: 1px solid #EFF2F8;
    border-radius: 5px;
}

td button {
    width: 70px;
    text-align: center;
}

#CPFerro{
    border: 2px solid red;
}